.claimRewardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
margin-top: 10px;


}
.avatarsType{
    font-weight: bold   ;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ysabeau', sans-serif;
    opacity: 0.7;
}
.mysteryImg{
    width: 130px;
    cursor: pointer;
    transition: all .3s ease-in;
    animation: chatBotAnimate  3s ease-in-out infinite alternate-reverse ;

}
.mysteryImg:hover{
    scale: 1.1 !important;
    opacity: 1 !important;

}
.mystryButton{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary_color);
    height: 48px;
    padding: 0 10px;
    border-radius: 5px;
    
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
.mystryButton svg{
    font-size: 1.3rem;
}
.mystryButton:hover{
    scale: 1.04 !important;
    opacity: 1 !important;
}
.avatarStyles{
    border-radius: 50%;
    width: 100px;
    opacity: 1 !important;

}
.nextButton:hover{

    scale: 1.03 !important;
    opacity: 1 !important;
}

.backIcon{
    font-size: 16px;
    color:rgb(238, 233, 233) !important;
    fill: rgb(238, 233, 233) !important;
}

.nextButton{
    background-color: #7c38f9;
    width: fit-content;
    padding: 0 15px;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: row-reverse;
    color: rgb(238, 233, 233);
    margin-left: auto;
    opacity: 0.7;
    transition: all .3s ;
}
.nextButton svg{
    font-size: 18px !important;
    fill: white !important;
}
.mysteryButtonBox{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}


@keyframes chatBotAnimate {

  0%{
    scale: 1;
    transform: translateY(-10px);

  }
  100%{
    transform:translateY(10px);
    scale: 1.03 ;
    
  }
  
}