.top_debators{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;

}
.top_debators_heading{

    text-align: center;
}
.top_users_list{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
}
.top_debators_main_text{
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: bold;

}
.top_deb_sub_heading{
    font-size: 12px;
    margin-top: -0.5rem;
    color:  rgb(14, 11, 61);;
    letter-spacing: 1px;
}
.list_item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}