.debateTeamWrapper {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background: var(--secondary_gradient_bg);
  padding: 2rem 1rem;
  border-radius: 20px;
  /* filter:${(props)=>!props.isLive? "blur(1px)":"" };
pointer-events: ${(props)=>!props.isLive ? "none":""}; */
}
.team_header_info {
  height: 60px;
  align-items: center;
  display: flex;
  border-radius: 4px;
  padding: 0 10px;
  background-color: rgb(255 255 255 / 36%);
  justify-content: space-between;
}
.team_name {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--dark_primary_text_color);
}
.vote_box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.vote_button {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  justify-content: center;
  gap: 5px;
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  transition: all .3s;

}
.voted{
  scale: 1 !important;
  color: white !important;
  opacity: 1 !important;
  background: var(--secondary_color);
}

.vote_button:hover {
  /* background: var(--secondary_color); */
  scale: 1.04;
}
/* svg {
  font-size: 1.2rem;
} */

.team_member_list {
  display: flex;
  flex-direction: column;
  gap: 0.51rem;
}
.disabled_vote_button{
  opacity: 0.5 !important;
}
.disabled_vote_button:hover{
  scale: 1 !important;
}
.disable_vote{
  pointer-events: none !important;
}