.AuthWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  margin-top: 2rem;
}
.dinasour_image {
  position: absolute;
  right: 10%;
  top: 10%;
  opacity: 0.7;
  width: 200px;
}
.login_main_box {
  width: 95%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.logo_img {
  width: 200px;
  object-fit: cover;
}
.login_welcome_text {
  text-align: center;

  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 12px;
}
.welcome_back_text {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #686de0;
}
.welcome_secondary_text {
  color: rgb(99, 109, 126);
  letter-spacing: 1px;
  font-size: 12px;
}
.login_with_google_box {
  justify-content: center;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 1px solid rgb(234, 239, 245);
  transition: all 0.6s ease;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 0px 3px white;
}
.login_with_google_box:hover {
  border-color: rgb(210 216 224);
  box-shadow: 0px 0px 3px #686de0;
}
.login_with_google_box img {
  width: 20px;
}
.login_with_google_box p {
  font-size: 14px;
}

.sign_in_with_email_division {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.sign_in_with_email_division p {
  font-size: 12px;
  color: rgb(149, 159, 178);
}
.left_hr,
.right_hr {
  height: 1px;
  background-color: rgb(234, 239, 245);
  flex: 1;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}
.single_item {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
}

.auth_input_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  flex: 1;
}
.auth_input_item label {
  font-size: 13px;
  color: #686de0;
}
.auth_input_item .input_element {
  border: 1px solid rgb(234, 239, 245);
  border-radius: 5px;
  height: 40px;
  width: 100%;
  outline: none;
  padding: 0 10px;
  transition: all 0.5s;
  box-shadow: 0px 0px 3px white;
  font-size: 13px;
  color: rgb(99, 109, 126) ;
}
.auth_input_item .input_element::placeholder {
  color: rgba(128, 128, 128, 0.678);
  font-size: 12px;
  letter-spacing: 0.3px;
}
.auth_input_item .input_element:focus {
  box-shadow: 0px 0px 3px #686de0;
}
.auth_input_item .input_element :hover {
  box-shadow: 0px 0px 3px #686de0;
}
.error_input {
  border: none !important;
  box-shadow: #ff0000b8 0px 0px 1px 1px !important;
}
.bottom_other_options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.checkbox_item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox_item p {
  color: rgb(99, 109, 126);
}
.checkbox_item input {
  width: 14px;
  height: 14px;
}
.forgot_password_text {
  color: #3f51b5;
  cursor: pointer;
}
.login_button {
  background-color: #686de0;
  width: 100%;
  border: none;
  outline: none;
  height: 42px;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.no_account_text {
  color: #3f51b5;
  cursor: pointer;
  font-size: 14px;
}
.country_flag{
  
  width: 27px;
}
.country_name{
  font-size: 12px;
}
.country_item{
      padding: 10px 0;

}
.country_item:hover{
  background-color: aliceblue;
  cursor: pointer;

}

/* CONFIRMATION EMAIL SENT   FILE  CSS */
.confirmation_email_sent_page{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;

}
.confimation_email_sent_box{

  
  background-color: rgba(232, 235, 238, 0.673);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  gap: 10px;

}
.email_sent_content_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.email_sent_content_box .email_desc{
  font-size: 13px;
  width:95%;
  color: rgb(76, 76, 76);
}
.confimation_email_sent_box >img{
  width: 210px;


}
.email_sent_alert_box{

  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--dark_primary_text_color);

  margin-bottom: 1rem !important;
  font-weight: bold ;


  width: 100%;
  
}
.user_email_text{


    font-size: 11px ;
    margin-top: 10px;
  letter-spacing: 1px;
    color: rgb(76, 76, 76);
  display: block  ;

}
.resent_button{
  background-color: var(--primary_color);
  height: 40px;

  font-size: 12px;
  border-radius: 3px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: white;
  margin:2rem 0 ;

}
.resent_email_expires_time{
  color: gray;
  font-weight: 100;
  font-size: 9px;
  width: 80%;
  letter-spacing: 1px;

}