.passcode_wrapper{
    width: 35%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passcode_input_box{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    
  height: 50px;
  padding: 5px;

}
.passcode_input_box input{
    height: 80%;
    border: none;
    width: 14px;
    box-shadow: 0px 0px 2px rgb(64 70 221);
    color: grey;
    outline: none;
    text-align: center;
    flex: 1;
    transform: skewX(350deg);
}
 .watchButton{
    background-color: var(--primary_color);
    height:38px    ;
    color: white;
    display: flex;
    border-radius: 4px;
    align-items: center;
    padding: 0 10px;
    width: 50%;
    justify-content: center;
    outline: none;
    transform: skewX(350deg);
    gap: 10px;
}
.passcode_text{
    color: rgba(128, 128, 128, 0.709);
    font-size: 12px;
    transform: skewX(350deg);
    letter-spacing: 0.9px;
}