.home_wrapper {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.home_bottom_info{
  margin-top: 5rem;
  width: 95%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
}