.finishModalContainer{
    width: 100% !important;
    height: 100%;
    position: relative;

}
 .main_bg_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modalBodyContent{
    position:absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgb(0,0,0) , rgba(0,0,0,0.5),rgba(0,0,0,0.4));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}



