.Coaches{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.coaches_header_top{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
        align-items: center;
    background-color: #fff;
    border-radius: 18px;
   box-shadow:  -2px -3px 100px 0 rgba(17,12,46,.15);
    padding:  1.4rem 2rem;

}
.coaches_heading_box img{
    width: 42px;
}
.coaches_heading_box h1{
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: var(--dark_primary_text_color);
    margin-bottom:  0 !important;
    font-weight: bold;
    
}
.coaches_heading_box{
    background-color: #eff0f1;;
    height: 50px;
    width: fit-content;


gap: 10px;
    display: flex;

    align-items: center;


    padding : 0 1rem ;
    border-radius: 10px;
}
.coaches_header_top p{
    text-align: center;
    width: 95%;
    color: var(--dark_primary_text_color);
    font-size: 15px;
    line-height: 25px;
    color: gray;
    letter-spacing: 1px;

}
.coach_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 2rem;  
}
.coach_box{
    width: 360px;
    min-width: 250px;
    display: flex;
    height: 370px;
    
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 1rem;
    gap: 2rem;    
    cursor: pointer;    
}
.coach_box img{
    width: 65%;        
    height: 100%;
    object-fit: cover;
}
.coach_img_wrapper{
    height: 60%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #8080800f;
    border-radius: 9px;
}
.coach_desc{
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
    color: #282727;
}
.coach_desc b{
    color: var(--dark_primary_text_color);
    text-transform: uppercase   ;
}
.coach_hire_button{
    background-color: #eff0f1bd;
    font-size: 14px;
    color: var(--dark_primary_text_color);
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
   background-color: var(--dark_primary_text_color); 
    width: 70%;
    color: #eff0f1;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    height:40px;
    box-shadow: rgba(144, 144, 153, 0.25) 0px 2px 5px -1px, rgba(119, 119, 119, 0.178) 0px 1px 3px -1px;
}
.coach_hire_button svg{
    font-size: 15px !important 
        
    
}
.coach_bottom_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}