.ProfileCard {
  background: var(--dark_gradient_bg);
  gap: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  justify-content: space-between;
}
.profile_card_top {
  display: flex;
}
.profile_card_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile_basic_info_item {
  display: flex;
  gap: 1rem;
}
.profile_card_avatar_wrapper {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  border: 6px solid var(--primary_color);
  border-radius: 50%;
}
.profile_card_avatar_wrapper img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
}
.profile_card_username {
  font-size: 1.41rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primary_color);
  text-transform: uppercase;
}
.profile_card_email {
  font-size: 12px;

  letter-spacing: 2px;
}
.profile_card_item_title {
  letter-spacing: 1px;
  color: var(--primary_color);
  margin-bottom: 0.51rem;
  font-weight: bold;
}
.profile_card_item .other_info_text {
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: rgb(88, 88, 88);
}
.other_info_text_item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.other_info_text_item svg {
  color: var(--primary_color);
}
.logout_button {
  background-color: red;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  height: 30px;
  opacity: 0.6;
  letter-spacing: 1px;
  padding: 0 20px;
  transition: all 0.3s ease;
}
.logout_button:hover {
  opacity: 1;
}
.basic_userinfo_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.live_icon {
  color: rgb(7, 173, 7) !important;
}
.upcoming_icon {
  color: red !important ;
}
.profile_card_item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-row {
  display: flex;
}
.image-row img{
  margin-top: 10px;
  margin-right: 10px;
}
.circle-image {
  border-radius: 50%;
}